header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 0;
    transition: all 0.5s;
}
.header-scrolled{
    background: rgba(0, 0, 0, 0.9);
    padding: 12px 0;
}
header h1{
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1;
    text-transform: uppercase;
}
#navbar{
    background-color: rgb(210, 205, 205);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar-toggler{
    background-color: #fff;
}
#basic-nav-dropdown{
    color: white;
}
#basic-nav-dropdown:after{
    display: none;
}
.link, .active{
    position: relative;
}

.link:hover, .active{
    color: #e43c5c !important;
}

.link{
    color: #121112;
    height: 100%;
}



@media (min-width: 991px){
    #navbar{
        background-color: transparent;
    }
    .link{
        font-size: 1rem;
        display: inline-block;
        color: white !important;
    }
    .link:hover, .active{
        color: white !important;
    }
    .link:after{
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: 0;
        left: 10px;
    }
    .link:hover::after{
        width: 80%;
        height: 3px;
        background-color: #e43c5c;
    }

    .active:after{
        content: "";
        position: absolute;
        width: 80%;
        height: 3px;
        background-color: #e43c5c;
        display: block;
        transition: all 0.3s ease;
        bottom: 0;
        left: 10px;
    }
}
